html {
    background: #fafafa;
    color: black;
}

body {
    font-size: 1.2rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#search-container {
    padding: 0.5rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

#refresh {
    height: 1.7rem;
    aspect-ratio: 0.97/1;
    mask-image: url(refresh.svg);
    background-color: #000;
    transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.75s;
    cursor: pointer;
}

#refresh:hover {
    rotate: 180deg;
    background-color: #ff6e9a;
}

#search {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 25px;
    border: none;
    outline: 1px solid #aaa;
    border-radius: 7px;
    box-shadow: 2px 2px 6px #00000077;
    transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s;
    width: 15rem;
}

#search:focus {
    box-shadow: 0px 0px 6px 4px #74d7ec;
    width: 50rem;
    outline: 2px solid #aaa;
}

#photos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.75rem 1rem;
}

.photolink {
    width: 15rem;
}

.photolink > img {
    object-fit: cover;
    aspect-ratio: 3/2;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 6px #00000077;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
    html {
        background: #181818;
        color: #eee;
    }
    input {
        border-color: #000;
        background-color: #111;
        color: #eee;
    }
    #refresh {
        background-color: #fff;
    }
    #refresh:hover {
        background-color: #ffafc7;
    }
}

/* phone */
@media (max-width: 35rem) {
    #search {
        width: min-content;
    }
    .photolink {
        width: 100%;
    }
}
